<mat-toolbar class="menu"> 
  <div class="logo-app" routerLink="/">
    <img class="logo-img" src="./assets/img/sandals_logo.png" alt="sandals">
    <span>HealthyFeet</span>
  </div> 
  <div class="menu-list-container">
    <ul class="menu-list">
      <li>Features</li>
      <li>Enterprise</li>
      <li>Support</li>
      <li>Pricing</li>
    </ul>
    <button mat-raised-button class="logging">Log out</button>
    <button mat-icon-button class="menu-mobile" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
