<mat-toolbar class="menu"> 
  <div class="logo-app" routerLink="/">
    <img class="logo-img" src="./assets/img/sandals_logo.png" alt="sandals">
    <span>HealthyFeet</span>
  </div> 
  @if(getVal() | async){
  <div class="menu-list-container"> 
      <button mat-icon-button class="menu-mobile" (click)="openModalCart()">
        <mat-icon matBadge={{totalItems}} >shopping_cart</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>


<!-- <button mat-raised-button class="logging">Log out</button>
<ul class="menu-list">
  <li>Features</li>
  <li>Enterprise</li>
  <li>Support</li>
  <li>Pricing</li>
  class="menu-mobile"
</ul> -->