@import '../../../helpers.scss';

.menu{
  @extend .d-center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  @extend .width-app;
  margin: 0 auto;
  @extend .padding-app-lateral;
  z-index: 1000;

  .logo-app{
    @extend .d-center;
    cursor: pointer;
    gap: 8px;
    span:hover{
      color: $info;
    }
  }

  .logo-img{
    width:32px;
    height: 32px;
  }

  .menu-list-container{
    @extend .d-center;

    .menu-list{
      @extend .d-center;
      list-style: none;
      li{
        margin-left: 16px;
        cursor: pointer;
      }
    }

    .menu-mobile{
      @extend .d-none;
    }
  }
}

.logging{
  margin-left: 16px;
  background-color: $redColor !important;
  transition: all 125ms ease-in-out;
  &:hover{
    background-color: rgba($color: $redColor, $alpha: 0.8) !important;
  }
}

@media (max-width: 1100px){
  .menu-mobile{
    display: block !important;
  }
}