<div class="card">
  <div class="card-header">
     <img src="./assets/img/{{product['shopPic']}}" class="img" alt="{{product['shopPic']}}">
    <div>
      <h3>{{product.nameShop}}</h3>
      <h4>{{product.city}}</h4>
    </div>
  </div>
  <figure>
    <img src="./assets/img/{{product['imageUrl']}}" class="img" alt="{{product['imageUrl']}}">
  </figure>
  <h5>
    {{product.name}}
  </h5>
  <p class="description">
    @if(longDescription){
      {{description}} <span class="read-more" (click)="this.modalShowService.changeModalStatus()">read more...</span>
    }@else {
      {{description}}
    }

  </p>
  <span class="price">
    Price: {{product.price.toFixed(2)}}€
  </span>
  <div class="card-action">
    <button mat-button (click)="addToCart()"><mat-icon>shopping_cart</mat-icon>Add to cart</button>
  </div>
</div>
