@import '../../../../helpers.scss';

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($color: $black, $alpha: 0.4);
  border-radius: 16px;
}

.card-header{
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  .img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  h3, h4{
    margin: 0;
  }

  h3{
    font-weight: 600;
  }
}

figure {
  margin: 0;
  img{
    width: 100%;
  }
}

.card-action{
  padding: 16px;
  button{
    background-color: $success;
  }
}