<div class="card">
  <div class="card-header">
     <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img" alt="">
    <div>
      <h3>Nombre</h3>
      <h4>City</h4>
    </div>
  </div>
  <figure>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </figure>
  <h5>
    Sandals
  </h5>
  <p class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita rerum officia recusandae obcaecati ducimus ipsam eum doloremque repudiandae illo eligendi veniam magnam, qui perferendis magni voluptate dolores sunt hic minima?
  </p>
  <span class="price">
    Price: 20€
  </span>
  <div class="card-action">
    <button mat-button><mat-icon>shopping_cart</mat-icon>Add to cart</button>
  </div>
</div>
