<section class="body-main">
  <app-header></app-header>
  <div class="main" [ngClass]="{'d-none': !$modalCart}">
    <div class="left-side">
      <app-product-list></app-product-list>
      <div class="modal-info-container" [ngClass]="{'d-none': $modalActivate}" (click)="closeModal()">
        <app-modal-info-product (click)="$event.stopPropagation()"></app-modal-info-product>
      </div>
    </div>
    <div class="right-side">
      <app-cart></app-cart>
    </div>
  </div>
  <div class="modal-cart" [ngClass]="{'d-none': $modalCart}">
    <app-cart></app-cart>      
  </div>
  <app-footer></app-footer>
</section>
