@import '../../helpers.scss';

.body-main{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main{
    flex: 1;
    padding: 72px 16px 16px 16px;
    display: flex;
    gap:32px;
    .left-side{
      flex:3;
    }
    .right-side{
      flex:1;
      position: relative;
    }
  }
}

.modal-info-container{
  position: sticky;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  height: 95vh;
  width: 100%;
  z-index: 100;
  @extend .d-center;
  background-color: rgba($color: $black, $alpha: 0.3);
}

.d-none{
  display:none;
}