<section>
  @if(data?.length){
    <div class="message-container">
      <h2 mat-dialog-title>Hey {{data[0].shipping.name.full_name}}</h2>
      <mat-dialog-content> 
        <p>Your purchase with ID: <strong>{{id}}</strong> is on the way.</p>
        <p>
          The Total was  {{data[0].amount.breakdown.item_total.value}} {{data[0].amount.breakdown.item_total.currency_code}}
          Thank you for buying.
        </p>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
      </mat-dialog-actions>
    </div>
  }
</section>
