<section>
  <div class="close-button-container" [ngClass]="{'d-none': $modalCart}">
    <button class="close-modal" mat-icon-button (click)="closeModal()">
      <mat-icon>cancel</mat-icon>
    </button> 
  </div>
  @if(cardItems.length > 0){
    <div class="card-container">
      <h2>Your Cart</h2>
      @for(item of cardItems; track $index){
        <app-cart-item [item]="item"></app-cart-item>
      }
      <div class="total">
        <strong>Total: </strong><span>{{total | currency:'EUR'}}€</span>
      </div>
      <div class="container-empty-cart">
        <h3 (click)="emptyCart()">
          <button mat-icon-button>
            <mat-icon>delete_forever</mat-icon>
          </button> 
          <span>Empty Cart ({{totalItems}})</span>
        </h3>
      </div>
    </div>
    <div class="info-test">
      <h3>For testing the PayPal function, use the following fake account and password:</h3>
      <p><strong>account: </strong>sandals&#64;personal.example.com</p>
      <p><strong>password: </strong>12345678</p>
    </div>
  }@else {
    <div class="card-container">
      <h2>Your cart is empty</h2>
    </div>
  }
  <div class="paypal" [ngClass]="{'invisible': total<= 0}" #paymentRef></div>
</section>
