@import '../../../helpers.scss';

section{
  width: 100%;
  position: sticky !important;
  top:80px !important;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap:8px;

  h2{
    text-align: center;
    background-color: rgba($color: $info, $alpha: 0.4);
    padding: 8px;
    margin-bottom: 0;
    color: $blue-light;
    border-radius: 8px;
  }

  .total{
    border-radius: 8px;
    padding: 16px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $warning, $alpha: 0.8);
  }

}