<section>
  @if(cardItems.length > 0){
    <div class="card-container">
      <h2>Your Cart</h2>
      @for(item of cardItems; track $index){
        <app-cart-item [item]="item"></app-cart-item>
      }
      <div class="total">
        <strong>Total: </strong><span>{{total | currency:'EUR'}}€</span>
      </div>
      <div class="container-empty-cart">
        <h3 (click)="emptyCart()">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>delete_forever</mat-icon>
          </button> 
          <span>Empty Cart</span>
        </h3>
      </div>
    </div>
  }@else {
    <div class="card-container">
      <h2>Your cart is empty</h2>
    </div>
  }
</section>
