@import '../../../helpers.scss';

section{
  width: 100%;
  position: sticky !important;
  top:80px !important;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap:8px;

  h2{
    text-align: center;
  }

}