@import '../../../helpers.scss';

footer{
  @extend .d-center;
  @extend .padding-app-lateral;
  justify-content: space-between;
  min-height: 112px;
  background-color: $mainColor;
  color: white;
  font-size: 18px;
}

.logo-img{
  width:32px;
  height: 32px;
}

.logo-app{
  @extend .d-center;
  cursor: pointer;
  gap: 8px;
  span:hover{
    color: $info;
  }
}

.link{
  cursor: pointer;
}

@media (max-width: 700px){
  footer{
    flex-direction: column;
    padding: 32px;
  }
}

@media (max-width: 400px){
  footer{
    font-size: 12px;
  }
}
